div.container {
  display: flex;
  flex-wrap: wrap;
}

div.content {
  width: 200px;
  padding: 10px;
}

div.title {
  font-size: 0.9em;
  font-weight: bold;
  font-family: sans-serif;
  padding-bottom: 1.2em;
}

div.description {
  font-size: 0.7em;
  font-family: serif;
}
